.table {
  background: #D3D3D3;
}

.table-head {
  background: #C0C0C0;
  color: FFDF00;
}

tr.table-head-row {
  font-weight: 700;
  margin: 4px 0km;
}

tr.table-data-cell td {
  font-style: ital ic;
}